# https://pinterest.github.io/ktlint/1.5.0/rules/code-styles/

root = true

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

ktlint_code_style = intellij_idea
ktlint_function_naming_ignore_when_annotated_with = Composable, Test
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-signature = disabled
